.App{
    width: 100vw;
    height: 100vh;
}

nav{
    width: 100%;
    position:fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(55, 161, 55, 0.3) 30.46%, rgba(5, 90, 5, 0.0) 100%);
    transition:  all 0.50s ease;
}

.navbar nav .container .navbar-brand{
    margin-left:25px;
}


.navbar-nav{
    display: flex;
}

.navbar-nav a{
    font-size:24px;
    margin: auto 25px;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition:  all 0.50s ease;
    z-index: 1;
    color: #333;
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover{
   color: rgb(5,90,5,0.8);
}


.navbar .nav-link.active{
    color:#055A05;
}

.navbar .nav-end ul{
    list-style: none;
}

.navbar .nav-end ul li{
    display: inline;
}

.navbar .nav-end ul li img{
    width: 25px;
    margin: 0px 4px
}
