.plants-section{
    text-align: center;
    margin: 0% 8% 8% 8%;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plants-section .row {
  display: flex;
  flex-wrap: wrap;
}

.plants-section .col {
  flex: 1 1 25%;
  padding: 0 16px;
  margin: 0;
}

.plants-section img {
  width: 80%;
  height: auto;
}

.plants-section h1{
  text-transform: uppercase;
text-align: center;
font-size: 38px;
font-weight: 600;
margin: 6%;
color: #333;
}

.plants-section p{
   text-align: center;
   margin: 8%;
}

.plants-section .arrowRight{
  margin-left: 4%;
  width: 15px;
}

.plants-section p:hover{
    text-decoration: underline;
}

.plants-section button{
    border: none;
    border-radius: 12px;
    background-color: #86AA96;
    color: #fff;
    padding: 14px 34px;
    margin-top: 4%;
    font-size: 20px;
        font-weight: 500;
          position: relative;
    transition: .3s ease-in;
    z-index: 1;
}


.plants-section button:hover{
background-color: rgb(134, 170, 150,0.9);
}


@media screen and (min-width: 390px) and (max-width:767px) {
  .plants-section{
    margin-top: 10%;
}

.plants-section .row {
  display: flex;
  flex-direction: row;
}

.plants-section .col {
   padding: 0 32px;
}

.plants-section img {
  width: 100%;
}

.plants-section h1{
  text-transform: uppercase;
text-align: center;
font-size: 28px;
font-weight: 600;
margin: 6%;
color: #333;
}

.plants-section p{
   text-align: center;
   margin: 10% 0;
}

.plants-section .arrowRight{
  margin-left: 4%;
  width: 15px;
}

.plants-section p:hover{
    text-decoration: underline;
}

.plants-section button{
    padding: 12px 30px;
    margin:6% 0;
}

}